table#presentation {
  width: 600px;
  margin: auto;
}

h1{
  padding-top: 50px;
  color: rgb(80,80,80);
  text-align: center;
}

html{
  background-image: url("../images/tile.jpg");
  background-repeat: repeat;
}

body {
  width: 960px;
  cursor: cell;
  background: rgba(255,255,255,0.7);
  margin: auto;
}

#remplissagelatin {
  font-family: "roboto";
  text-align: center;
  white-space: pre;
  color: rgb(44,44,44);
}

table#menu {
  border-collapse: collapse;
  color: purple;
  margin-bottom: 30px;
  width: 900px;
  margin: auto;
}

Table#menu td, th {
  border: 1px solid;
  text-align: center;
  width: 1%;
  padding: 8px;
}

.ifra {
  text-align: center;
}

iframe {
  margin-top: 20px;
}

img, iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
img {float: right;}
